body {
    display:flex;
    align-items:center;
    justify-content:center;
}

.calculatorBody {
    width:400px;
    height:600px;
    border: solid black 1px;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: burlywood
}

.screen { 
    width: 350px;
    height: 60px;
    margin-top:50px;
    border: solid black 1px;
    align-items:right;
    justify-content:right;
    display:flex;
    background-color: rgb(187, 187, 187);
}

.screenContent {
    margin-top:auto;
    margin-right:5px;
    overflow: hidden;
}

.buttonBody {
    display:flex;
    width:350px;
    height:300px;
    margin-top:auto;
    margin-bottom:auto;
}

.numbers {
    width:auto;
    height:auto;
}

.numbers button {
    background-color: orange;
    width:75px;
    height:75px;
    font-size:30px;
}

.operators {
    width:100px;
    height:300px;
    margin-top:-75px;
}

.operators button {
    width:110px;
    height:75px;
    font-size:30px;
}

